<h3><%= I18n.t('auth.backup_codes.save_backup_codes') %></h3>

<form>
  <% @backup_codes.each do |backup_code| %>
    <input type="checkbox" disabled> <code><%= OtpService.format_backup_code(backup_code) %></code></input><br>
  <% end %>
</form>

<p><%= I18n.t('auth.backup_codes.backup_codes_generated_on', date: current_user.otp_backup_codes_updated_at&.strftime('%d %b %Y')) %></p>

<script>
  window.print();
</script>

<a href="javascript:self.close()" class="btn btn-primary">Close</a>

