<form>
  <% @backup_codes.each do |backup_code| %>
    <input type="checkbox" disabled> <code><%= OtpService.format_backup_code(backup_code) %></code></input><br>
  <% end %>
</form>

<div><%= link_to "Get new codes", :user_backup_codes, method: :post, class: "btn btn-danger" %></div>
