<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h2>Two Factor Authentication</h2>

    <div id="two_factor">
      <%= render partial: "devise/registrations/two_factor" %>
    </div>

  </div>
</div>
