<div class="row">
  <div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">Password</h5>
      <p class="card-text">Last updated: <%= resource.password_changed_at&.strftime('%d %b %Y') %></p>
      <a href="#" class="btn btn-primary">Change password</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">Two-Factor Authentication</h5>
      <% if resource.otp_required_for_login? %>
        <p class="card-text">✔️ On - Added <%= resource.otp_updated_at&.strftime('%d %b %Y') %></p>
        <%= link_to 'Manage two-factor authentication', :edit_auth_two_factors, class: 'btn btn-primary' %>
      <% else %>
        <p>Increase your account's security by enabling Two-Factor Authentication (2FA)</p>
        <p class="card-text">❌ Off</p>
        <%= link_to 'Enable two-factor authentication', :new_auth_two_factors, class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
